body{
	margin:0px;
}

.comtainer{
	display:grid;
	grid-templates-columns:1fr;
}


.nav{
	
	display:flex;
	justify-content: space-between;
	padding:38px;
	
}


.left-side{
	display:flex;
} 

.nav > .left-side> div{
	margin-right:20px;
	font-size:0.9em;
	text-transform: uppercase:
}

.nav-link{
	
	height:22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s
	
}

.nav-link a{
	color:#8a8a8a;
	text-decoration:none;
	transition:0.5s
}

.nav-link:hover{
	border-bottom: 1px solid black;
}

.nav-link a:hover{
	color:black;
}

.portfolio-items{
	
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item{
	
	position: relative;
}



.portfolio-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
}