<style>
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("code5.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("code6.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("code5.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
.nav{
	
	display:flex;
	justify-content: space-between;
	padding:38px;
	
}
.right-side{
	display:flex;
	flex-direction:row;
	top:0;
	right:0;
}
.logoN img{
	width:80px;
	height:auto;
}


.left-side{
	display:flex;
} 

.nav > .left-side> div{
	margin-right:20px;
	font-size:0.9em;
	text-transform: uppercase:
}

.nav-link{
	
	height:22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s
	
}

.nav-link a{
	color:#8a8a8a;
	text-decoration:none;
	transition:0.6s
}

.nav-link:hover{
	border-bottom: 1px solid black;
}

.nav-link a:hover{
	color:black;
}

.active-nav-link{
	border-bottom: 1px solid black;
	
}

.active-nav-link a{
	color:black !important;
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
</style>